html{
    height: 100%;
}
body {
    height: 100%;
}


#cover {
    background: #222 url('../img/stars.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#emote-card{
    margin-top: 20px;
}
.emote-shape {
    height: 50px;
    width: 100%;
    margin: auto;
    border-radius: 60px;
}

.emote-btn{
    margin-top: 10px;
}

#dropdown{
    margin-top: 10px;
}
.container .custom-row {
    width: 90%;
    margin: auto;
}

/* .jumbotron button {
    padding: 0;
    background-color: rgba(0,0,0,0);
} */

.jumbotron button img {
    width: 100%;
}
